NIX_DIRENV_VERSION="2.2.0"
if ! has nix_direnv_version || ! nix_direnv_version $NIX_DIRENV_VERSION; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/$NIX_DIRENV_VERSION/direnvrc" "sha256-b6qJ4r34rbE23yWjMqbmu3ia2z4b2wIlZUksBke/ol0="
fi
use flake
